/* TODO Add site wide styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto";
  margin: 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.grow-big {
  transition: all 0.2s ease-in-out;
}

.grow-big:hover {
  transform: scale(1.2);
}

.pointer:hover {
  cursor: pointer;
}

#demo-link {
  text-align: center;
  color: rgb(4, 118, 177);;
}

#demo-link:hover {
  cursor: pointer;
}

.no:hover {
  cursor: not-allowed;
}

.test {
  border: 1px solid red;
}

.error-list {
  color: rgb(209,46,47);
}
