.profile-dropdown {
  position: absolute;
  z-index: 5;
  animation:
        fade-in 500ms forwards,
        slide-left 500ms forwards;
  top: 45px;
  right: 140px;
  padding: 20px 15px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid rgb(235, 235, 235); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



#in-out-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

#in-out-profile>button {
  background-color: white;
  border: 1px solid rgb(2,118,177);
  color: rgb(2,118,177);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

#in-out-profile>button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#thank-you-drop-down {
  text-align: center;
  /* border-radius: 2px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 5px 15px 5px;
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#logo-dropdown {
  height: 30px;
}

.profile-dropdown-list {
  margin: 5px 10px;
}

#username-dropdown {
  text-align: center;
}

#logout-dropdown-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

#logout-dropdown-profile>button {
  font-size: 16px;
  background-color: white;
  border: 1px solid rgb(209,46,47);
  color: rgb(209,46,47);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-bottom: -5px;
}

#logout-dropdown-profile>button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hidden {
  display: none;
}

#nav-entire-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 15px 0 10px 0;
}

#inner-div-nav-entire-page {
  /* width: 1125px; */
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-panel-inner-div-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#logo-nav {
  height: 45px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  visibility: hidden;
}

.nav-item {
  font-size: 14px;
}

.nav-item:hover {
  cursor: not-allowed;
}

#right-panel-inner-div-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.nav-icon {
  height: 15px;
}

.nav-icon:hover {
  /* cursor: pointer; */
  cursor: not-allowed;
}

#sign-in-div-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 30px;
}

#sign-in-nav {
  font-weight: 300;
  font-size: 14px;
}

#sign-in-div-nav:hover {
  text-decoration: underline;
  cursor: pointer;
}


@keyframes fade-in {
  0% {
        opacity: 0;
  }
  100% {
        opacity: 1;
  }
}

@keyframes slide-left {
  0% {
        transform: translateX(100%);
  }
  100% {
        transform: translateX(0%);
  }
}
