
#delete-acct-entire-page {
      /* border: 3px solid rgb(209,46,47); */
      border-radius: 5px;
}

#delete-account-page-question-text {
      margin: -10px 20px 25px 20px;
      background-color: rgb(209,46,47);
}

.delete-acct-butt-holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#yes-butt-delete-acct {
      width: 50%;
      margin-top: 10px;
      color: rgb(171, 171, 171)
}

#no-butt-delete-acct {
      width: 50%;
      margin-top: 10px;
      color: rgb(171, 171, 171)
}

#yes-butt-delete-acct:hover {
      color: rgb(209,46,47);
}

#no-butt-delete-acct:hover {
      color: rgb(209,46,47);
}

#forfeit {
      margin-bottom: 10px;
      margin-top: -10px;
}
