
#entire-page-exist-new-acct {
      overflow: hidden;
}

#exit-new-open-account-upper-div {
      position: relative;
      z-index: 1;
      width: 100vw;
      height: 80px;
      background-color: rgb(1,61,91);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#inner-exit-new-open-account-upper-div {
      /* width: 1125px; */
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
}

#open-text-exist-new {
      font-size: 32px;
      font-weight: 500;
      color: white;
}

#all-accts-butt-exist-new {
      color: white;
      border: 1px solid white;
      margin-top: 7px;
      border-radius: 4px;
      height: 50%;
      padding: 3px 5px;
}

.checking-saving-div-open-account-existing {
      position: relative;
      z-index: 1;
      width: 100vw;
      height: 632px;
}

.checking-saving-div-text-open-account-existing {
      position: absolute;
      width: 75vw;
      left: 50%;
      transform: translateX(-50%);
}

.checking-saving-1-text {
      font-size: 32px;
      font-weight: 600;
      margin-top: 64px;
      margin-bottom: 16px;
}

.checking-saving-2-text {
      font-size: 20px;
      font-weight: 400;

}

.checking-saving-div-box-open-account-existing {
      background-color: white;
      width: 340px;
      height: 400px;
      margin-top: 40px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checking-saving-icon-open-account-existing {
      width: 54px;
      margin-top: 36px;
      margin-bottom: 25px;
      margin-left: 24px;
}

.checking-saving-box-text-1-open-account-existing {
      font-size: 24px;
      margin: 0 24px;
}

.checking-saving-box-text-2-open-account-existing {
      font-size: 16px;
      margin: 20px 24px;
      color: rgb(105,105,105);
}

.checking-saving-box-text-3-open-account-existing > li {
      font-size: 16;
      margin: 10px 0;
}

.checking-saving-box-text-4-open-account-existing {
      color: white;
      font-size: 24px;
      text-align: center;
      margin: 30px 24px;
      padding: 10px ;
      border-radius: 5px;
      background-color: rgb(2,118,177);

}

.checking-saving-box-text-4-open-account-existing:hover {
      cursor: pointer;
      background-color: rgb(0, 87, 150);
}


.checking-saving-background-open-account-exiting {
      width: 100vw;
      height: 632px;
      object-fit: cover;
}

#check-form-render {
      position: fixed;
      animation:
            slide-down 1500ms forwards,
            fade-in 1500ms forwards;
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
      top: 35px;
      /* left: 400px; */
}

#savings-form-render {
      position: fixed;
      animation:
            slide-up 1500ms forwards,
            fade-in 1500ms forwards;
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
      top: 35px;
}

@media (max-width: 1225px) {
      #check-form-render {
            position: fixed;
            animation:
                  slide-down 1500ms forwards,
                  fade-in 1500ms forwards;
            z-index: 3;
            left: 40%;
            transform: translateX(-50%);
            top: 35px;
            /* left: 400px; */
      }
      #savings-form-render {
            position: fixed;
            animation:
                  slide-up 1500ms forwards,
                  fade-in 1500ms forwards;
            z-index: 3;
            left: 40%;
            transform: translateX(-50%);
            top: 35px;
      }
}

#anchor {
      text-decoration: none;
      color: white;
}


@keyframes slide-up {
      0% {
            transform: translateY(100%);
      }
      100% {
            transform: translateY(0%);
      }
}

@keyframes fade-in {
      0% {
            opacity: 0;
      }
      100% {
            opacity: 1;
      }
}

@keyframes slide-down {
      0% {
            transform: translateY(-100%);
      }
      100% {
            transform: translateY(0%);
      }
}

@keyframes fade-out {
      100% {
            opacity: 0;
      }
      0% {
            opacity: 1;
      }
}
